.subscribe-footer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 30px;
  width: 100%;
  background-image: url('../../assets/images/subscribe-footer-bg.png');
  background-repeat: no-repeat;
  background-size: cover;

  .container,
  .container-fluid {
    .row {
      display: flex;
      justify-content: center;
    }
  }

  .subscribe-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    padding: 30px;

    // min-height: 75vw;
    width: max-content;
    text-align: center;
    background-color: $white;
    h2 {
      font-family: $font-family-playfair;
    }
    h4 {
      font-family: $font-family-nunito;
    }
    form {
      width: 100%;
    }
    .inputs-group {
      min-width: 100%;
      color: $black;

      .custom-control-label {
        color: $black;
        display: flex;
        align-items: center;
        span {
          font-size: 0.7rem;
        }
      }
    }

    input {
      padding: 10px;
      margin: 15px 0;
      min-width: 100%;
      background-color: $gray-light;
      color: $black;
      font-size: 0.85rem;
      &::placeholder {
        text-align: center;
        color: $black;
        font-family: $font-family-nunito;
      }
    }

    .messages-container {
      position: relative;
      width: 100%;
      p {
        position: absolute;
        color: $black;
        text-transform: uppercase;
      }
    }
  }

  .container-message {
    position: relative;
    letter-spacing: 0.07em;
    font-family: $font-family-bebas;
    @media only screen and (max-width: $screen-md) {
      width: 100%;
    }
  }

  .btn-outline {
    margin: 10px 0;
    @media only screen and (max-width: 870px) {
      max-width: 152px;
      min-width: 152px;
    }
    @media only screen and (max-width: $screen-md) {
      max-width: 100%;
      min-width: 100%;
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .subscribe-footer {
    .subscribe-box {
      justify-content: space-between;
      align-items: center;

      width: max-content;
      height: unset;

      h2 {
        margin: 15px 5px 15px 0;
      }

      h4 {
        width: 70%;
        margin: 10px;
        font-size: 0.85rem;
      }

      .inputs-group {
        min-width: 60%;
      }

      input {
        // max-width: 22%;
        margin-right: 10px;
        min-width: 60%;
      }

      .btn-outline {
        margin: 0;
      }
    }
  }
}

.error-message {
  position: absolute;
  bottom: -32px;
  padding: 8px 15px;
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 12px;
  text-transform: uppercase;
  border: 1px solid transparent;

  @media only screen and (max-width: $screen-md) {
    bottom: -18px;
  }

  &.error {
    background: #f44336;
    border: 1px solid #f44336;
  }

  &.success {
    background: #4caf50;
    border: 1px solid #4caf50;
  }

  p {
    margin: 0;
    font-weight: bold;
    font-size: 10px;
    color: black;
  }
}
