// set theme swiper color
:root {
  --swiper-theme-color: #fff;
}

.swiper-container-fade .swiper-slide {
  transition-delay: 300ms;
  transition-duration: 1500ms !important;
}

.hero-slider {
  position: relative;

  background-color: $black;
  // background-color: $main-color;
  // background-size: cover;
  // background-position: bottom center;
  padding: 20px;

  min-height: 80vw;
  .hero-container {
    z-index: 3;
    position: relative;

    color: $white;
    padding: 15px;

    .swiper-button-prev,
    .swiper-button-next {
      transform: scale(0.5) translateY(-60%);
      padding: 14vw;
      // top: calc(50% + 25px)
      &:focus {
        outline: 0;
      }
    }
    .swiper-button-prev {
      left: -7vw;
    }
    .swiper-button-next {
      right: -7vw;
    }
    .swiper-button-prev.swiper-button-disabled,
    .swiper-button-next.swiper-button-disabled {
      opacity: 1;
      &:after {
        opacity: 0.4;
      }
    }

    .hero-slide {
      display: flex;
      flex-direction: column-reverse;

      align-items: center;
      padding: 0;
      background-color: $black;

      .hero-texts {
        position: relative;

        display: flex;
        flex-direction: column;

        flex: 1 1 0;
        padding: 25px;
        min-height: 40vh;

        opacity: 0; // animacion
        transition: all 0.5s ease-in-out 0.25s;

        .hero-title {
          padding-right: 20px;
          margin-top: 10px;
          letter-spacing: 0.7px;
          line-height: 1;
        }
        h4 {
          padding-right: 20px;
          font-weight: 600;
        }

        a {
          // bottom: 0;
          margin: auto 0 0;
        }
      }

      .hero-img {
        display: flex;

        position: relative;
        flex: 1 1 0;
        min-height: 40vh;
        width: 100%;
        background-size: cover;
        background-position: center right;

        opacity: 0; // animacion
        transition: all 2s ease-out;

        .btn-video {
          position: relative;
          margin: auto;
          color: red;
          svg {
            transform: scale(4);
          }
          z-index: 2;
          &:hover {
            opacity: 0.6;
            // color: white;
          }
        }
        .cover-img-video {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          background-color: $black;
          opacity: 0.5;
        }
      }

      &.swiper-slide-active,
      &.swiper-slide-duplicate-active {
        .hero-texts {
          opacity: 1;
          transform: translateX(0);
        }
        .hero-img {
          opacity: 1;
        }
      }

      &.swiper-slide-next {
        .hero-texts {
          transform: translateX(20px);
        }
      }
      &.swiper-slide-prev {
        .hero-texts {
          transform: translateX(-20px);
        }
      }
    }
  }

  .bgs-container {
    z-index: 2;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    .swiper {
      height: 100%;
    }

    .bg {
      position: absolute;
      // opacity: 0;
      transition: all 0.4s ease;

      background-color: $main-color;
      background-size: cover;
      background-position: bottom center;

      width: 100%;
      height: 100%;
      &.iscurrent {
        transition: all 1s ease;
        opacity: 1;
      }
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .hero-slider {
    min-height: 30vw;
    // background-color: $gray-light;
    .hero-container {
      padding: 0;

      .swiper-button-prev,
      .swiper-button-next {
        top: calc(50% - 25px);
        transform: scale(0.5);
        padding: 50px;
      }

      .swiper-button-prev {
        left: -15px;
      }
      .swiper-button-next {
        right: -15px;
      }

      .hero-slide {
        flex-direction: row;

        padding: 0 80px;

        .hero-texts {
          padding: 0;
          min-height: unset;
          margin-top: 20px;
          .hero-title {
            margin-top: 0;
            padding-right: 90px;
          }
          h4 {
            padding-right: 80px;
          }
          a {
            margin: 0 auto 20px 0;
          }
        }

        .hero-img {
          min-height: 40vw;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-lg) {
  .hero-slider {
    min-height: 490px;
    .hero-container {
      .hero-slide {
        .hero-img {
          min-height: 450px;
          // height: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-xl) {
  .hero-slider {
    min-height: 540px;
    .hero-container {
      .hero-slide {
        .hero-img {
          min-height: 500px;
        }
      }
    }
  }
}
