@font-face {
  font-family: 'Knockout';
  src: url('/fonts/Knockout-HTF27-JuniorBantamwt.eot');
  src: url('/fonts/Knockout-HTF27-JuniorBantamwt.eot?#iefix') format('embedded-opentype'),
      url('/fonts/Knockout-HTF27-JuniorBantamwt.woff2') format('woff2'),
      url('/fonts/Knockout-HTF27-JuniorBantamwt.woff') format('woff'),
      url('/fonts/Knockout-HTF27-JuniorBantamwt.svg#Knockout-HTF27-JuniorBantamwt') format('svg');
  font-weight: 500;
  font-style: normal;
}

