.salon-finder {
  background-color: $black;
  width: 100%;
  height: 45vh;

  .container {
    position: relative;
    z-index: 4;
  }

  .salon-box {
    z-index: 4;

    position: absolute;
    top: 125px;
    right: 0;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
    padding: 30px;

    img {
      padding: 0 0 30px;
      // margin-bottom: auto;
      // position: absolute;
      // top: 30px;
    }

    min-height: 65vw;
    max-width: 88vw;
    margin: 0 5px 0 15px;

    background-color: $gray-dark;
    p {
      line-height: 1.2;
    }
  }

  .map {
    z-index: 1;
    width: 100%;
    height: 100%;

    // info window
    .gm-style-iw {
      h3 {
        margin-top: 1.25rem;
        padding: 5px 10px;
      }
      button {
        top: -2px !important;
        right: -2px !important;
      }
    }
  }
}

@media only screen and (min-width: $screen-md) {
  .salon-finder {
    height: 480px;

    .salon-box {
      min-height: 400px;
      width: 400px;
      right: -40px;
      top: 40px;
      img {
        position: absolute;
        top: 30px;
      }
    }
  }
}

.salon-finder {
  //   .gm-style-iw.gm-style-iw-c {
  .gm-style-iw-d {
    h3 {
      margin-bottom: 5px;
    }
    a {
      margin-left: 10px;
      margin-bottom: 10px;
      display: block;
    }
  }
}

iframe {
  border: 0;
  width: 100%;
  height: 100%;
}
