.page-blog {
  .select-field {
    background: $gray-light;
    top: 48px;

    .select-option {
      color: $black;

      &:before {
        background: $gray-dark;
      }

      &:hover:after,
      &.active:after {
        border-color: #ababab;
        background: #ababab;
      }
    }
  }
}

.post-list {
  margin-bottom: 60px;

  .btn-outline {
    filter: invert(100%);
    cursor: pointer;
    display: table;
    transition: 0.3s ease;
    margin: 40px auto 0;
    width: 100%;
    max-width: 535px;
  }
}
